@import "../../bower_components/uikit/less/uikit.less";
@import "../../bower_components/uikit/less/components/placeholder.less";

@base-body-background:                          #f5f5f5;
@base-body-font-family:                         "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-body-font-weight:                         normal;
@base-body-font-size:                           16px;
@base-body-line-height:                         24px;
@base-body-color:                               #777;

@base-link-color:                               darken(@global-color-blue, 10%);
@base-link-text-decoration:                     none;
@base-link-hover-color:                         darken(@global-color-blue, 20%);
@base-link-hover-text-decoration:               none;

@base-margin-vertical:                          16px;

@base-heading-font-family:                      "Helvetica Neue", Helvetica, Arial, sans-serif;
@base-heading-font-weight:                      300;
@base-heading-color:                            #444;

@navbar-background:                             #fff;
@navbar-nav-color:                              #777;
@navbar-nav-font-size:                          16px;
@navbar-nav-font-weight:                        300;
@navbar-nav-font-family:                        "Helvetica Neue", Helvetica, Arial, sans-serif;
@navbar-nav-active-background:                  @global-color-green;
@navbar-nav-active-color:                       #fff;

@button-primary-background:                     darken(@global-color-blue, 20%);
@button-primary-color:                          #fff;
@button-primary-hover-background:               darken(@global-color-blue, 20%);
@button-primary-hover-color:                    #fff;
@button-primary-active-background:              darken(@global-color-blue, 20%);
@button-primary-active-color:                   #fff;

@placeholder-margin-vertical:                   15px;
@placeholder-padding:                           20px;
@placeholder-border:                            #ddd;
@placeholder-background:                        darken(@global-color-blue, 10%);
@placeholder-color:                             #444;

@placeholder-large-padding-vertical:            80px;

@global-border-radius:                          4px;
@global-color-green:                            #5fbb00;
@global-color-blue:                             #1597d4;

html, button, input, select, textarea {
    -webkit-font-smoothing: antialiased;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.hook-button, .hook-navbar-nav, .hook-modal-dialog {
    border-radius: @global-border-radius;
}

.hook-navbar-nav-active {
    box-shadow: 0 3px 0 0 darken(@global-color-green, 10%);
    
    &:hover {
        background-color: darken(@global-color-green, 5%);
    }
}

.hook-placeholder {
    min-height: 8em;
    border: 2px dashed darken(@global-color-blue, 20%);
    text-align: center;
    font-size: 2em;
    padding: 2em 0;
    color: #fff;
}

header {
    background: #fff;
    padding: 2em 0;
    border-bottom: 2px solid darken(@global-color-blue, 20%);;
    
    h2 {
        margin: 0;
    }
}

main {
    padding: 4em 0;
    background: @global-color-blue;
}

.catalog {
    background: #fff;
    border-top: 2px solid darken(@global-color-blue, 20%);
    
    .catalog-header {
        padding: 1em 0;
        background: #eee;
        border-bottom: 2px solid #ddd;
        
        h2 {
            margin: 0;
        }
    }
    
    .catalog-content {
        padding: 2em 0;
        
        .item-outer {
            border: 1px solid #eee;
        }
    
        .item {
            display: block;
            text-align: center;
            margin: 1em;
            padding: 2em;
        }
        
        .item:hover {
        }
    }
}
