body {
	margin:0;
	height:100%;
	width:100%;
	color:#2a3a4d;
	font-family:roboto;
	font-size:30px;
	text-align:center;
}

#sleutel {
	float:left;
	width:200px;
	height:180px;
	border-radius:15px;
	position:relative;
	background-color:#B28F00;
	line-height:180px;
	margin-top:200px;
	margin-left:60px;
	border-top-right-radius:50%;
	border-bottom-right-radius:50%;
}

#slot {
	float:left;
	margin:0 auto;
	position:relative;
	width:230px;
	height:190px;
	margin-top:200px;
	line-height:190px;
	background-color:#FF0000;
	border-radius:100%;
	margin-left:150px;																
}

#opener {
	float:right;
	height:80px;
	width:40px;
	background-color:#2a3a4d;
	position:relative;
	margin-top:210px;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	color:white;
	line-height:80px;
	cursor:pointer;
}

#code-area {
	width:400px;
	height:500px;
	float:right;
	position:relative;
	background-color:#2a3a4d;
	border-radius:5px;
	margin-right:-440px;
	margin-top:100px;
}

.block {
	float:left;
	width:50px;
	height:50px;
	border-radius:5px;
	background-color:#FF0000;
	margin-left:10px;
	margin-right:10px;
	margin-top:40px;
	cursor:pointer;
}